$grayColor: #999;
$postContentColor:#141823;
$postDateColor: #7f7f7f;
$orangeTagColor: #d7a627;
$redTagColor: #b24626;
$grayTagColor: #ddd;
$greenTagColor: #31a480;
$purpleTagColor: #54588a;
$blueTagColor: #1572B6;
$yellowTagColor: #F0DB4F;
$pinkTagColor: rgba(203, 104, 152, 0.8);
$blackTitleColor: darkolivegreen;