$postContentColor:#141823;
$postDateColor: #9197a3;
$orangeTagColor: #d7a627;
$redTagColor: #b24626;
$grayTagColor: #ddd;
$greenTagColor: #31a480;
$purpleTagColor: #54588a;
$blueTagColor: #1572B6;
$pinkTagColor: rgba(203, 104, 152, 0.8);