$headerFont: 55px;
$titleFont: 36px;
$contentFont: 22px;
$dateFont: 14px;
$inputFontSize: 16px;
$positionFontSize: 22px;
$footerFontSize: 16px;
$dateFontSize: 18px;
$contentFontFamilyList: Georgia,Cambria,"Times New Roman",Times,serif;