<p id="notice"><%= notice %></p>

<h1>Listing Tags</h1>
<ul class="tags">
<% @tags.each do |tag| %>
    <li class="tag <%= tag.color %>">
      <%= tag.name %>
    </li>
<% end %>
</ul>
<br>

<%= link_to 'New Tag', new_tag_path %>
