<div class="blog-list-page">
  <% @posts.each do |post| %>
  <div class="post-summarize">
    <div class="post-date">
        <%= post.created_at.strftime("%A, %B %d, %Y") %>
    </div>
    <div class="post-title">
      <%= link_to post.title, post %>
    </div>
    <ul class="tags">
      <% post.tags.each do |tag| %>
        <li class="tag <%= tag.color %>"><%= tag.name %></li>
      <% end %>
    </ul>
  </div>
  <% end %>
</div>
