<div class="blog-list-page">
  <% @posts.each do |post| %>
  <div class="post-item">
    <div class="post-title">
      <%= link_to post.title, post %>
    </div>
    <div class="post-date">
        <%= post.created_at.strftime("%A, %B %d, %Y") %>
    </div>
    <div class="post-content">
      <%=raw post.content.gsub(/\n/, '<br/>') %>
    </div>
  </div>
  <% end %>
</div>
