// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-list-page{
    background-color:white;
    @include max-screen(767px)
    {
        width:100%;
    }
    @include screen(768px,991px)
    {
        width:100%;
    }
    @include screen(992px,1199px)
    {
        width:70%;
    }
    @include min-screen(1200px)
    {
        width:70%;
    }
    margin-left:auto;
    margin-right:auto;

    .post-item{
        border-bottom:1px solid #ddd;
        padding-bottom:15px;
        margin-top:15px;
        font-size:$contentFont;
        .post-title{
            font-size:$contentFont;
            a{
                color:black;
                text-decoration:none;
            }
            a:hover{
                color:#ea1e30;
            }
        }
        .post-content{

        }
    }
}