// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.blog-list-page{
    background-color:white;
    .post-item{
        border-bottom:1px solid #ddd;
        padding-bottom:15px;
        margin-top:15px;
        font-size:$contentFont;
        font-family: $contentFontFamilyList;
        .post-title{
            font-size:$titleFont;
            font-weight: 700;
            line-height: 1.2;
            a{
                color:black;
                text-decoration:none;
                width: 100%;
                display: inline-block;
                &:hover{
                    color:$purpleTagColor;
                }
            }
        }
        .post-date{
            margin-top:3px;
            margin-bottom:3px;
            color:$postDateColor;
            font-size: 14px;
            &.centerize{
                text-align:center;
                font-size:$contentFont;
            }
        }

        .post-content{
            color: rgba(0,0,0,0.6);
            font-size: $contentFont;
            line-height: 1.5;
            font-family: $contentFontFamilyList;
            img{
                margin-left:auto;
                margin-right:auto;
                display:block;
            }
        }
    }
}

.new_post,.edit_post{
    font-size:$inputFontSize;
    .post-title-input{
        font-size:$inputFontSize;
    }
    .post-content-input{
        font-size:$inputFontSize;
        width:100%;
        height:300px;
    }
}