$tagColorList: "orange" $orangeTagColor white, 
"red" $redTagColor white, 
"gray" $grayTagColor #333, 
"pink" $pinkTagColor white, 
"grey" $grayTagColor #333,
"blue" $blueTagColor white,
"green" $greenTagColor white,
"yellow" $yellowTagColor white,
"black" $blackTagColor white;
@mixin tagStyle($padding,$position,$radius){
    list-style:none;
    display: inline-block;
    vertical-align: $position;
    padding:$padding;
    @include border-radius($radius);
    background-color:$grayTagColor;
    color:black;
    font-size: $tagFontSize;
    @each $tag in $tagColorList{
        $key: nth($tag, 1);
        $backgroundColor: nth($tag, 2);
        $textColor: nth($tag, 3);
        &.#{$key}{
            background-color:$backgroundColor;
            color: $textColor;
        }
    }
}
.tags{
    margin: 0px;
    padding: 0px;
    .tag{
        @include tagStyle(3px 5px,top,5px);
    }
}

tag{
    @include tagStyle(0px 5px,middle,4px);
    font-size:$contentFont - 7px;
}